@model Blog.Domain.Entities.Review




<div class="offset-4 col-4 ">


        <div class="card">
            <div class="card-body">
                <h3>@Html.DisplayFor(modelItem => Model.Author)</h3>


                <p>@Html.DisplayFor(modelItem => Model.Text)</p>
                <br />
            </div>
        </div>



    }
</div>
