
<div>
    @using (Ajax.BeginForm("VotingResShow", "Vote", new AjaxOptions { UpdateTargetId = "sres" }))
    {
    <div class="mt-2" id="sres">
        <p>Do you like this article?</p>

        <p> @Html.RadioButton("answ", "yes") Yes </p>


        <p>  @Html.RadioButton("answ", "no")  No </p>


        <p>  @Html.RadioButton("answ", "so-so") So-so</p>
        @Html.Hidden("ArticleId", ViewData["ArticleId"])
      


        <input type="submit" value="Send" class="btn btn-info" />


    </div>

    }

    
</div>


